torch
torchvision
torchaudio
numpy
wandb
omegaconf
accelerate
transformers
diffusers
einops
tqdm
h5py
peft
accelerate
decord
chumpy
pytorch3d
safetensors
mediapipe
onnxruntime-gpu
timm
scikit-image
insightface
moviepy==1.0.3
facexlib==0.3.0
